body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(40, 51, 47);
}

header{
    width: 99%;
    height: 100px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    background-color: rgb(40, 51, 47);
}

#logoDivina{
    margin-left: 35px;
}

#logoSistema , #logoDivina{
    width: 160px;
    height: 99px;
}

nav{
    height: 25px;
    margin-left: 45%;
    margin-top: 78px;
}

a{
    margin: -3px;
    padding: 7px 20px 7px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(209, 190, 153);
    border: solid 2px rgb(1, 46, 20);

}

a:hover{
    background-color: rgb(4, 92, 51);
    color: white;
    font-weight: bolder;
}
hr{
    width: 87%;
    border: solid 1px black;
    margin-left: 95px;

}

section{
    width: 99%;
    height: 600px;
    margin: auto;
}

#digitecerto{
    width: 440px;
    height: 300px;
    margin: auto;
    margin-top: 100px;
    
}

#logodigite{
    width: 430px;
    height: 290px;
    margin: auto;
    
}



#botao{
    width: 125px;
    height: 30px;
    margin: auto;
    margin-top: 100px;
    margin-left: 480px;
}

#botaoComecar{
    background-color: rgb(40, 51, 47);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5em;
    font-weight: bolder;
    margin: auto;
    padding: 5px;

}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    margin-top: 30px;
}
