body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-color: rgb(40, 51, 47);
}

header{
    width: 99%;
    height: 100px;
    margin: auto;
    margin-top: 5px;
    display: flex;
    background-color: rgb(40, 51, 47);
}

#logoDivina{
    margin-left: 35px;
}

#logoSistema , #logoDivina{
    width: 160px;
    height: 99px;
}

nav{
    height: 25px;
    margin-left: 50%;
    margin-top: 78px;
}

a{
    margin: -3px;
    padding: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    color: black;
    border-radius: 10px 10px 0px 0px;
    background-color: rgb(209, 190, 153);
    border: solid 2px rgb(1, 46, 20);

}

hr{
    width: 87%;
    border: solid 1px black;
    margin-left: 95px;

}

section{
    border: solid 1px black;
    width: 99%;
    height: 700px;
    margin: auto;
}

#botao{
    border: solid 1px black;
    width: 125px;
    height: 30px;
    margin: auto;
    margin-top: 280px;
}

#botaoComecar{
    background-color: rgb(40, 51, 47);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bolder;
    margin: auto;
    padding: 5px;

}

footer{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: bolder;
    margin-top: 30px;
}
