<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/estiloComoDigitar.css">
    <title>Como digitar</title>
</head>
<body>
    <header>
        <div id="logoDivina">
            <img src="../assets/imagens/logo dos SDP pequeno.png" id="logoSistema" alt="Logo do Sistema Divina Providência">
        </div>
        <nav>
            <a href="index.html">Home</a>
            <a href="comodigitar.html">Como digitar</a>
            <a href="#">Exercícios</a>
        </nav>
    </header>
    <hr>
</body>
</html>