<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digite Certo</title>
    <link rel="stylesheet" href="../styles/estilo.css">
</head>
<body>
    <header>
        <div id="logoDivina">
            <img src="../assets/imagens/logo dos SDP pequeno.png" id="logoSistema" alt="Logo do Sistema Divina Providência">
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#">Como digitar</a>
            <a href="#">Exercícios</a>
        </nav>
    </header>
    <hr>
    <section>
        <div id="digitecerto">
            <img src="../assets/imagens/logo2novo.png" id="logodigite" alt="Logo Digite Certo">
        </div>

        <div id="botao">
            <a href="#" id="botaoComecar">Começar</a>
        </div>
    </section>
    <footer>
        Unidade Dom João Resende Costa - Rua Yara 545
    </footer>
</body>
</html>